[Desktop Entry]
Version=1.0
Type=Application
# hier geen terminal voor nodig
Terminal=true
Name=This is for dev only
# De naam van de productie
Comment=linkerFile
# A comment which can/will be used as a tooltip
# The path to the folder in which the executable is run
Exec=bash -c "cd \$(dirname \$1);\$(dirname \$1)/tclit;read me" dummy %k
# The executable of the application.
Icon=/home/jolohenk/bpgepr/bpgepr/dataBase/.superCoolLogo.png
# Dit desktop bestand is gemaakt met hulp van
# arch linux documentatie, Bedankt!
