[Desktop Entry]
Version=1.0
Type=Application
# hier geen terminal voor nodig
Terminal=true
Name=displayBase
# De naam van de productie
Comment=idk
# A comment which can/will be used as a tooltip
# The path to the folder in which the executable is run
Exec=bash -c "cd \$(dirname \$1);\$(dirname \$1)/display;echo \"druk op een toets om te sluiten\";read -n1" dummy %k
# The executable of the application.
Icon=/home/jolohenk/bpgepr/bpgepr/dataBase/.superCoolLogo2.png
# Dit desktop bestand is gemaakt met hulp van
# arch linux documentatie, Bedankt!
